* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

/* HEADER */

header {
    /* width: 100%; */
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
}

header ul li a {
    margin: 0 15px;
    font-size: 14px;
}

header .nav-item {
    position: relative;
    display: inline-block;
    /* margin: 0 5px; */
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

header .nav-item:hover {
    background-color: rgb(223, 223, 223);
}

header .nav-item img {
    width: 20px;
}

header .nav-item .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgb(83, 83, 83);
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: 110%;
    left: -50%;
    margin-left: -60px;
    z-index: 1;
}

.nav-item:hover .tooltip-text {
    visibility: visible;
}

/* SEARCH BAR */

.google-search-bar {
    width: 100%;
    height: 79.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-search-bar .google-image {
    margin-bottom: 30px;
}

.google-search-bar .google-image img {
    width: 300px;
}

.google-search-bar .search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.google-search-bar .search .search-bar {
    width: 40%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(218, 218, 218);
    padding: 10px 15px;
    border-radius: 9999px;
    margin-bottom: 30px;
}

.google-search-bar .search .search-bar:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border: none;
}

.google-search-bar .search .search-bar .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-search-bar .search .search-bar svg {
    width: 22px;
}

.google-search-bar .search .search-bar svg:first-child {
    fill: #9aa0a6;
}

.google-search-bar .search .search-bar input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    color: rgb(49, 49, 49);
}

.google-search-bar .search .search-btn .btn {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(49, 49, 49);
    text-decoration: none;
    margin-right: 10px;
    border: 1px solid #f8f9fa;
}

.google-search-bar .search .search-btn .btn:hover {
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
}

.google-search-bar .languages {
    font-size: 14px;
}

.google-search-bar .languages a {
    display: inline-block;
    padding: 0 5px;
    color: #1a0dab;
}

/* FOOTER */

footer {
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.54);
    height: 12vh;
}

footer a {
    color: rgba(0, 0, 0, 0.54);
}

footer .country {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.1px;
}

footer .site-map {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dadce0;
}

footer .site-map ul {
    display: flex;
    gap: 30px;
}

footer .site-map ul li a {
}
